In [11]:
import mysql.connector

mydb = mysql.connector.connect(
host = 'localhost',
user = 'root',
password='ckdgns12',
database='new_schema',

)
mycursor = mydb.cursor(buffered=True)

In [27]:
mycursor.execute('select * from membertb')

rows = mycursor.fetchall()

In [28]:
rows

[]

In [21]:
sql = """CREATE TABLE membertbl (
  memberID char(8) NOT NULL,
  memberName char(5) NOT NULL,
  memberAddress char(20) DEFAULT NULL,
  PRIMARY KEY (memberID)
) """
mycursor.execute(sql)

ProgrammingError: 1050 (42S01): Table 'membertbl' already exists

In [22]:
sql = """INSERT INTO membertbl VALUES 
('Han','한주연','인천 남구 주안동'),
('Jee','지운이','서울 은평구 증산동'),
('Sang','상길이','경기 성남시 분당구');"""

In [24]:
mycursor.execute(sql)## 넣우준뒤에

In [25]:
mycursor.execute('commit') ## commit을 통해서 넣어줘야함.